:root {
  --white: #fff;
  --purple-light: #d3cedf;
  --purple-dark: #80558c;
  --purple-dark-2: #8B5E83;
  --pink: #f675a8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--purple-light);
  font-family: "Quicksand";
}

.container {
  max-width: 130rem;
  margin: 3.2rem auto;
}

/* Header */
.header {
  display: flex;
  padding: 2.8rem 6.4rem 0 6.4rem;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.header__nav {
  width: 100%;
}

.header__nav__list {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  gap: 3.2rem;
}

.header__nav__list--link {
  font-size: 1.6rem;
  font-weight: 800;
  color: var(--purple-dark);
  text-decoration: none;
}

/* Hero */
.hero {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2.4rem;
  column-gap: 4.8rem;
  height: 90vh;
}

.hero__heading {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__heading--heading {
  font-size: 11.2rem;
  font-weight: 700;
  background-image: linear-gradient(to right,
      #12c2e9,
      var(--purple-dark),
      var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.hero__heading--heading:hover {
  color: var(--purple-dark);
}

.heading__primary--sign {
  margin-top: 0;
}

.hero__heading--sub-heading {
  font-size: 3.2rem;
  font-weight: 500;
}

.hero__content {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
}

.hero__content--text {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 65rem;
  margin: 0 auto;
  line-height: 1.3;
}

/* about */
.about {
  margin-bottom: 12rem;
}

.about-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4.8rem;
}

.about-heading {
  grid-column: 1/ -1;
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 auto;
  color: var(--purple-dark)
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.2);
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.card:hover .face.face2 {
  height: 60px;
}

.card:hover .face.face3 {
  height: 60px;
}

.card:hover .face.face4 {
  height: 60px;
}

.card-heading {
  font-size: 3.2rem;
  background-color: var(--purple-dark);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-text {
  font-size: 1.8rem;
  background-color: var(--purple-dark);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.face.face2 {
  background-image: linear-gradient(40deg,
      #B5EAEA 0%,
      #B5EAEA 100%);
  border-radius: 15px;
  transition: height 0.4s ease-in-out;
}

.face.face3 {
  background-image: linear-gradient(40deg,
      #F4A9A8 0%,
      #F4A9A8 100%);
  border-radius: 15px;
  transition: height 0.4s ease-in-out;
}

.face.face4 {
  background-image: linear-gradient(40deg,
      #F1CA89 0%,
      #F1CA89 100%);
  border-radius: 15px;
  transition: height 0.4s ease-in-out;
}

.title {
  font-size: 9.6rem;
  font-weight: 800;
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.card:hover .title {
  font-size: 1.8rem;
}

/* Features */
.features {
  margin-bottom: 12rem;
}

.feature-block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.8rem;
}

.feature-heading {
  grid-column: 1/ -1;
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 auto;
  color: var(--purple-dark)
}

.feature-icon {
  height: 8.4rem;
  width: 8.4rem;
  margin: 0 auto;
  background-color: var(--purple-dark);
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.feature-text {
  font-size: 1.4rem;
  text-align: center
}


/* Search */
.search {
  margin-bottom: 12rem;
}

.search-block {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4.8rem;
}

.search-heading {
  grid-column: 1/ -1;
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 auto;
  color: var(--purple-dark)
}

.search-form {
  grid-column: 1/ -1;
  margin: 0 auto;
  width: 50%;
}

.search-bar {
  width: 100%;
  height: 4.8rem;
  outline: none;
  border: 2px solid var(--purple-dark);
  border-radius: 9px;
  padding: 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Quicksand";
  color: var(--purple-dark-2);
  margin-bottom: 3.2rem;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.8rem 3.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Quicksand";
  color: var(--white);
  background-color: var(--purple-dark);
  margin-bottom: 3.2rem;
  outline: none;
  border: 2px solid var(--purple-dark);
  border-radius: 10000px;
  transition: all 0.4s ease-in-out;
}

.search-button:hover {
  color: var(--purple-dark);
  background-color: var(--white);
}


/* footer */
.footer {
  background-image: linear-gradient(
        90deg,
        rgba(128, 85, 140, 0.5),
        rgba(139, 94, 131, 0.5)
      ),
      url("footer.jfif");
  padding: 3.2rem;
  background-size: 100%;
    background-position: center;
    background-repeat: none;
}
.footer-heading {
  font-size: 3.2rem;
  font-family: "Lobster Two";
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
  color: var(--white);

}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav__item {
  margin: 0 auto;
  list-style: none;
}

.nav__title {
  font-size: 3.2rem; 
  color: var(--white);
  text-align: center; 
}

.nav__ul {
  list-style: none;
  font-size: 1.8rem;
  text-align: center;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--purple-light);
  font-weight: 400;
  
}

.legal {
  margin-top: 3.2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

